@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;500&display=swap');

@mixin montserrat-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@mixin montserrat-normal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin openSans-normal {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin openSans-medium {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
/*
@media only screen and (max-width: px) {
  
}
*/
