@import '../../helpers/base';
@import '../../helpers/variables';

.custom-h1 {
  @include montserrat-bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 12rem;
  color: #fff;
}
