@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  height: 7rem;
  padding: 0 2rem;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
}
@media only screen and (max-width: 800px) {
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem 2rem;
    position: relative;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    height: 12rem;
    align-items: flex-start;
    justify-content: space-between;
    transition: height 0.3s ease-in;
  }
}
.header-logo {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
}
.header-logo-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  height: 6rem;
  width: 6rem;
}
.header-nav {
  height: 100%;
  width: 100rem;
  max-width: 100rem;
  margin: 0 2rem;
}
@media only screen and (max-width: 600px) {
  .header-nav {
    position: absolute;
    top: 0rem;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-30rem);
    transition: transform 0.3s ease-in;
  }
}
.header-nav-ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .header-nav-ul {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .header-nav-ul-li:not(:last-child) {
    padding-bottom: 3rem;
  }
}
.header-nav-ul-li a {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .header-nav-ul-li a {
    font-size: 1.8rem;
  }
}
.header-nav-ul-li a:hover::after {
  transform: scaleX(1);
  transition: transform 0.1s ease-in;
}
.header-nav-ul-li a::after {
  content: "";
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  border-radius: 5px;
  transform: scaleX(0);
}
.header-arrow {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-animation-name: pulsatingArrow;
          animation-name: pulsatingArrow;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.header-arrow i {
  color: #fff;
  font-size: 5rem;
}
@media only screen and (max-width: 800px) {
  .header-arrow {
    display: none;
  }
}
.header-burgerMenu {
  display: none;
  height: 6rem;
  width: 6rem;
}
.header-burgerMenu i {
  cursor: pointer;
  z-index: 100;
  color: #fff;
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .header-burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-closeBurgerMenu {
  display: none;
  height: 6rem;
  width: 6rem;
}
.header-closeBurgerMenu i {
  cursor: pointer;
  z-index: 100;
  color: red;
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .header-closeBurgerMenu {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

.header.header-active {
  height: 35rem;
}

.header-nav.nav-active {
  transform: translateY(0);
}

@-webkit-keyframes pulsatingArrow {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes pulsatingArrow {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
body {
  height: 200vh;
}/*# sourceMappingURL=style.css.map */