@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

/*
@media only screen and (max-width: px) {

}
*/
/*
@media only screen and (max-width: px) {

}
*/
.header {
  width: 100%;
  height: 7rem;
  padding: 0 2rem;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999999999;
}
@media only screen and (max-width: 800px) {
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem 2rem;
    position: relative;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    height: 10rem;
    align-items: flex-start;
    justify-content: space-between;
    transition: height 0.3s ease-in;
  }
}
.header-logo {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
}
.header-logo-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  height: 6rem;
  width: 6rem;
}
.header-nav {
  height: 100%;
  width: 100rem;
  max-width: 100rem;
  margin: 0 2rem;
}
@media only screen and (max-width: 600px) {
  .header-nav {
    position: absolute;
    top: 0rem;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-30rem);
    transition: transform 0.3s ease-in;
  }
}
.header-nav-ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .header-nav-ul {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .header-nav-ul-li:not(:last-child) {
    padding-bottom: 3rem;
  }
}
.header-nav-ul-li a {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .header-nav-ul-li a {
    font-size: 1.8rem;
  }
}
.header-nav-ul-li a:hover::after {
  transform: scaleX(1);
  transition: transform 0.1s ease-in;
}
@media only screen and (max-width: 800px) {
  .header-nav-ul-li a:hover::after {
    transform: scaleX(0);
    transition: none;
  }
}
.header-nav-ul-li a::after {
  content: "";
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  border-radius: 5px;
  transform: scaleX(0);
}
.header-arrow {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-animation-name: pulsatingArrow;
          animation-name: pulsatingArrow;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.header-arrow i {
  color: #fff;
  font-size: 5rem;
}
@media only screen and (max-width: 800px) {
  .header-arrow {
    display: none;
  }
}
.header-burgerMenu {
  display: none;
  height: 6rem;
  width: 6rem;
}
.header-burgerMenu i {
  cursor: pointer;
  z-index: 100;
  color: #fff;
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .header-burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-closeBurgerMenu {
  display: none;
  height: 6rem;
  width: 6rem;
}
.header-closeBurgerMenu i {
  cursor: pointer;
  z-index: 100;
  color: red;
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .header-closeBurgerMenu {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

.header.header-active {
  height: 35rem;
}

.header-nav.nav-active {
  transform: translateY(0);
}

@-webkit-keyframes pulsatingArrow {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes pulsatingArrow {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
/*
@media only screen and (max-width: px) {

}
*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 2rem;
}
@media only screen and (max-width: 500px) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem;
  }
}
.footer-copyright {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 500px) {
  .footer-copyright {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 405px) {
  .footer-copyright {
    max-width: 22rem;
    line-height: 2.5rem;
  }
}
.footer-designer {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .footer-designer {
    font-size: 1.2rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

/*
@media only screen and (max-width: px) {

}
*/
body {
  background-image: linear-gradient(to right bottom, #c9a43f, #db5454);
}

.home-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  padding-top: 6rem;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .home-h1 {
    font-size: 3rem;
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 480px) {
  .home-h1 {
    font-size: 2.5rem;
  }
}

.home-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .home-h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .home-h2 {
    font-size: 2rem;
  }
}

.home-text {
  margin: 5rem auto;
  padding: 1rem 0;
  width: 80%;
  background-image: linear-gradient(to right bottom, #db5454, #8b2a2a);
  border-radius: 5px;
}
@media only screen and (max-width: 800px) {
  .home-text {
    width: 90%;
    margin-top: 4rem;
  }
}
.home-text .home-p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding: 1rem 3rem;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .home-text .home-p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .home-text .home-p {
    font-size: 1.6rem;
  }
}

body {
  min-height: 100vh;
  position: relative;
  margin-top: 7rem;
  padding-bottom: 8rem;
}
@media only screen and (max-width: 800px) {
  body {
    margin-top: 0;
  }
}
@media only screen and (max-width: 500px) {
  body {
    padding-bottom: 6.5rem;
  }
}
@media only screen and (max-width: 400px) {
  body {
    padding-bottom: 9.5rem;
  }
}/*# sourceMappingURL=style.css.map */