@import 'helpers/base';
@import 'helpers/variables';
@import 'styles/headerStyle';
@import 'styles/footerStyle';
@import 'styles/homePageMain';

body {
  min-height: 100vh;
  position: relative;
  margin-top: 10rem;
  padding-bottom: 8rem;

  @media only screen and (max-width: 800px) {
    margin-top: 0;
  }

  @media only screen and (max-width: 500px) {
    padding-bottom: 6.5rem;
  }

  @media only screen and (max-width: 400px) {
    padding-bottom: 9.5rem;
  }
}
