@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

/*
@media only screen and (max-width: 600px) {
}
*/
.main {
  margin-top: 12rem;
}
@media only screen and (max-width: 800px) {
  .main {
    margin-top: 6rem;
  }
}

.taskList-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #fff;
}

.taskList {
  background-image: linear-gradient(to right bottom, #8b2a2a, #e98282);
  border-radius: 5px;
  width: 100rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.taskList-form {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskList-form-input {
  padding: 0.5rem;
  font-size: 2.4rem;
  border: 1px solid black;
  border-radius: 5px;
}
.taskList-form-btn {
  padding: 0.5rem 1rem;
  font-size: 2.4rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  transition: all 0.3s ease;
}
.taskList-form-btn:hover {
  background-color: black;
  color: white;
}
.taskList-form-select {
  margin-left: 1rem;
  position: relative;
  overflow: hidden;
}
.taskList-form-select::after {
  content: "▼";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  pointer-events: none;
  font-size: 2rem;
}
.taskList-form-select:hover::after {
  background-color: black;
  color: white;
}
.taskList-form-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  width: 15rem;
  padding: 0.85rem;
  font-size: 1.8rem;
}
.taskList .task-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskList .task-container .taskList-ul {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}
.taskList .task-container .taskList-ul .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.taskList .task-container .taskList-ul .task:last-child {
  margin-bottom: 7rem;
}
.taskList .task-container .taskList-ul .task .task-item {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid black;
  flex: 1;
}
.taskList .task-container .taskList-ul .task .completed-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 2.4rem;
  margin-left: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  transition: all 0.3s ease;
}
.taskList .task-container .taskList-ul .task .completed-btn i {
  pointer-events: none;
}
.taskList .task-container .taskList-ul .task .completed-btn:hover {
  color: #00ca00;
  border-color: #00ca00;
}
.taskList .task-container .taskList-ul .task .trash-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 2.4rem;
  margin-left: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  transition: all 0.3s ease;
}
.taskList .task-container .taskList-ul .task .trash-btn i {
  pointer-events: none;
}
.taskList .task-container .taskList-ul .task .trash-btn:hover {
  color: red;
  border-color: red;
}

.completed-task {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-delete-effect {
  transform: translateY(-8rem) rotateZ(-20deg);
  opacity: 0;
}

.carousel-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #fff;
}

.carousel {
  position: relative;
  width: 50%;
  height: 50rem;
  margin: 0 auto;
  margin-bottom: 10rem;
}
@media only screen and (max-width: 1600px) {
  .carousel {
    width: 60%;
  }
}
@media only screen and (max-width: 1300px) {
  .carousel {
    width: 75%;
  }
}
@media only screen and (max-width: 1000px) {
  .carousel {
    height: 40rem;
  }
}
@media only screen and (max-width: 800px) {
  .carousel {
    height: 35rem;
  }
}
@media only screen and (max-width: 600px) {
  .carousel {
    height: 30rem;
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .carousel {
    height: 25rem;
  }
}

.carousel-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.carousel-track {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform ease-in 250ms;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.carousel-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 4rem;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .carousel-button {
    font-size: 3rem;
  }
}
.carousel-button-left {
  left: -5rem;
}
@media only screen and (max-width: 600px) {
  .carousel-button-left {
    left: -3rem;
  }
}
.carousel-button-right {
  right: -5rem;
}
@media only screen and (max-width: 600px) {
  .carousel-button-right {
    right: -3rem;
  }
}

.carousel-nav {
  display: flex;
  justify-content: center;
}

.carousel-dot {
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 2rem 1rem 0 1rem;
  cursor: pointer;
  outline: none;
}
@media only screen and (max-width: 800px) {
  .carousel-dot {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-dot {
    margin: 2rem 0.5rem 0 0.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .carousel-dot {
    width: 1rem;
    height: 1rem;
  }
}

.carousel-dot.current-slide {
  background: #fff;
}

.carousel-btn-hidden {
  display: none;
}/*# sourceMappingURL=projects.css.map */