@import '../../helpers/base';
@import '../../helpers/variables';

.custom-h1 {
  @include montserrat-bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 12rem;
  color: #fff;
}

.gymPlan {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7rem;
  background-image: linear-gradient(to right, #8b2a2a, #cf4949);
  border-radius: 5px;
  overflow: hidden;

  .gymPlan-nav {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #92731d, #a0812b);

    .gymPlan-nav-ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .gymPlan-nav-ul-li {
        .gymPlan-link {
          @include openSans-medium;
          font-size: 2.2rem;
          transition: all 0.3s ease;

          &:hover {
            color: #dd2121;
          }
        }
      }
    }
  }

  .gymPlan-programms {
    width: 100%;
    margin: 5rem 0;

    .gymPlan-day {
      width: 50rem;
      height: 60rem;
      margin: 0 auto;
      background-image: linear-gradient(to right, #92731d, #a0812b);
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      border-radius: 5px;

      h2 {
        @include montserrat-bold;
        font-size: 2.4rem;
        margin-bottom: 3rem;
        color: white;
      }

      p {
        @include openSans-medium;
        font-size: 1.8rem;
        color: white;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }

    .active-day {
      display: flex;
    }
  }
}
